* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100, 255, 218, 0.1);
    --pink: #f57dff;
    --blue: #ccd7f5;
    --font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --border-radius: 4px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --tab-height: 42px;
    --tab-width: 120px;
    --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    --hamburger-width: 30px;
    --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
    --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
    --ham-after: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ham-after-active: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

body {
    background-color: #0a192f;
}

.App {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 3s linear;
    }
}

.App-header {
    background-color: rgba(0, 0, 0, 0.9);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}


/* Navbar start */

.navbar {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    background-color: transparent;
    backdrop-filter: blur(10px);
    transition: 0.5s;
}

.navbar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.navbar__logo {
    width: 50px;
}

.navbar ol {
    display: flex;
    align-items: center;
}

.navbar ol li {
    margin-right: 50px;
    color: #62f9d6;
    font-size: 16px;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    cursor: pointer;
}

.navbar ol li span {
    color: #ccd7f5;
    transition: 0.3s linear;
}

.navbar ol li:hover span {
    color: #62f9d6;
}

.navbar__resume-btn {
    padding: 11px 18px;
    background-color: transparent;
    border: 1px solid #62f9d6;
    color: #62f9d6;
    border-radius: 5px;
    transition: var(--transition);
}

.navbar__resume-btn:hover {
    background-color: #62f9d628;
}


/* Navbar end */


/* Header start */

.container {
    padding: 0 180px;
    position: absolute;
    z-index: -1;
    top: 160px;
    width: 100%;
    padding-bottom: 22px;
}

.title__name {
    font-family: var(--font-mono);
    font-weight: 400;
    line-height: 1.1;
    font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
    color: var(--green);
}

.title {
    font-weight: 600;
    color: var(--lightest-slate);
    font-size: clamp(40px, 8vw, 70px);
    margin-top: 20px;
}

.title__text {
    max-width: 540px;
    color: var(--slate);
    font-size: var(--fz-xl);
    margin-top: 25px;
}

.title__text span {
    color: var(--green);
    cursor: pointer;
    transition: 1s ease-in-out;
}

.title__btn {
    margin-top: 50px;
    padding: 15px 25px;
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: 5px;
    color: var(--green);
    font-size: var(--fz-sm);
    font-family: var(--font-mono);
    line-height: 1;
    transition: var(--transition);
}

.title__btn:hover {
    background-color: #62f9d628;
}


/* Header end */


/* row & cards start */

.row {
    margin-top: 200px;
}

.card__content__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.card__content {
    width: 60%;
}

.card ol {
    margin-bottom: 7%;
}

.row .card ol li {
    color: var(--green);
    font-size: var(--fz-heading);
    font-family: var(--font-sans);
    font-weight: 700;
    display: flex;
    align-items: center;
}

.card__line {
    width: 65%;
    height: 1px;
    background-color: var(--dark-slate);
    margin-left: 2%;
}

.row .card__content p {
    color: var(--slate);
    font-family: var(--font-sans);
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 4%;
}

.card__content ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card__content ul li {
    list-style-type: disclosure-closed;
    color: var(--green);
    margin-bottom: 4%;
    font-size: var(--fz-md);
    font-family: var(--font-mono);
    cursor: pointer;
}

.card__img {
    width: 30%;
    box-shadow: 8px 9px 20px 0px #000;
    border-radius: 5px;
    margin-left: 4%;
    transition: var(--transition);
}

.card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    transition: var(--transition);
}

.card__img:hover img {
    opacity: 1;
}


/* row & cards end */


/* I've Worked star */

.worked {
    width: 80%;
    margin: auto;
    margin-top: 160px;
}

.worked .card__line {
    width: 50%;
    height: 1px;
    background-color: var(--dark-slate);
    margin-left: 2%;
}

.worked ul {
    display: flex;
    flex-direction: column;
    width: fit-content;
    list-style: none;
}

.worked .exp__row-lists li {
    font-size: var(--fz-md);
    padding: 20px;
    color: var(--slate);
    font-family: var(--font-mono);
    cursor: pointer;
    border-left: 2px solid #64ffda40;
    transition: var(--transition);
}

.worked .exp__row-lists li:hover {
    background-color: #112340;
    border-left: 2px solid var(--green);
    color: var(--green);
}

.exp {
    margin-left: 6%;
    margin-top: 2%;
}

.exp__row {
    display: flex;
}

.exp__title h3 {
    color: var(--lightest-slate);
    font-size: var(--fz-xxl);
    font-weight: 500;
    margin-bottom: 5px;
    line-height: 1.3;
}

.exp__title h3 span {
    color: var(--green);
}

.exp__date {
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: var(--fz-sm);
    margin-bottom: 5%;
}

.exp__overview li {
    list-style-type: disclosure-closed;
    color: var(--light-slate);
    margin-bottom: 4%;
    padding-left: 15px;
    font-size: var(--fz-md);
}

li::marker {
    color: var(--green);
}


/* I've Worked end */


/* portfolio start */


/* halcyon start */

.portfolio {
    margin-top: 13%;
}

.halcyon__row {
    margin-bottom: 10%;
}

.halcyon .card__line {
    width: 40%;
    height: 1px;
    background-color: var(--dark-slate);
    margin-left: 2%;
}

.halcyon__card {
    display: flex;
}

.halcyon__img {
    width: 50%;
    height: 320px;
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
}

.halcyon__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    transition: var(--transition);
}

.halcyon__img img:hover {
    opacity: 1;
}

.halcyon__content-tow {
    width: 45%;
    text-align: end;
    transform: translateX(-15%);
    position: relative;
    z-index: 9999;
}

.halcyon__row .content__title p {
    margin: 10px 0px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: var(--fz-sm);
    font-weight: 400;
}

.halcyon__row .content__title h3 {
    color: var(--light-slate);
    font-size: clamp(24px, 5vw, 28px);
    font-weight: 600;
    line-height: 1.1;
    cursor: pointer;
    transition: var(--transition);
}

.halcyon__row .content__title h3:hover {
    color: var(--green);
}

.halcyon__row .content__text {
    padding: 25px 25px 25px 40px;
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    background-color: var(--light-navy);
    border-radius: var(--border-radius);
    margin: 5% 0;
    color: var(--light-slate);
    font-size: var(--fz-md);
    text-align: justify;
}

.halcyon__content-tow ul {
    display: flex;
    justify-content: end;
}

.halcyon__content-tow ul li {
    list-style: none;
    margin-left: 4%;
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    white-space: nowrap;
}


/* halcyon end */


/* Spotify start */

.spotify__row {
    margin-bottom: 10%;
}

.spotify .card__line {
    width: 40%;
    height: 1px;
    background-color: var(--dark-slate);
    margin-left: 2%;
}

.spotify__card {
    display: flex;
}

.spotify__img {
    width: 50%;
    height: 320px;
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
}

.spotify__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    transition: var(--transition);
}

.spotify__img img:hover {
    opacity: 1;
}

.spotify__content-tow {
    width: 45%;
    text-align: start;
    transform: translateX(10%);
    position: relative;
    z-index: 9999;
}

.spotify__row .content__title p {
    margin: 10px 0px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: var(--fz-sm);
    font-weight: 400;
}

.spotify__row .content__title h3 {
    color: var(--light-slate);
    font-size: clamp(24px, 5vw, 28px);
    font-weight: 600;
    line-height: 1.1;
    cursor: pointer;
    transition: var(--transition);
}

.spotify__row .content__title h3:hover {
    color: var(--green);
}

.spotify__row .content__text {
    padding: 25px 40px 25px 25px;
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    background-color: var(--light-navy);
    border-radius: var(--border-radius);
    margin: 5% 0;
    color: var(--light-slate);
    font-size: var(--fz-md);
    text-align: justify;
}

.spotify__content-tow ul {
    display: flex;
    justify-content: flex-start;
}

.spotify__content-tow ul li {
    list-style: none;
    margin-left: 4%;
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    white-space: nowrap;
}


/* Spotify end */


/* Book start */

.book__row {
    margin-bottom: 10%;
}

.book .card__line {
    width: 40%;
    height: 1px;
    background-color: var(--dark-slate);
    margin-left: 2%;
}

.book__card {
    display: flex;
}

.book__img {
    width: 50%;
    height: 320px;
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
}

.book__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    transition: var(--transition);
}

.book__img img:hover {
    opacity: 1;
}

.book__content-tow {
    width: 45%;
    text-align: end;
    transform: translateX(-15%);
    position: relative;
    z-index: 9999;
}

.book__row .content__title p {
    margin: 10px 0px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: var(--fz-sm);
    font-weight: 400;
}

.book__row .content__title h3 {
    color: var(--light-slate);
    font-size: clamp(24px, 5vw, 28px);
    font-weight: 600;
    line-height: 1.1;
    cursor: pointer;
    transition: var(--transition);
}

.book__row .content__title h3:hover {
    color: var(--green);
}

.book__row .content__text {
    padding: 25px 40px 25px 25px;
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    background-color: var(--light-navy);
    border-radius: var(--border-radius);
    margin: 5% 0;
    color: var(--light-slate);
    font-size: var(--fz-md);
    text-align: justify;
}

.book__content-tow ul {
    display: flex;
    justify-content: flex-end;
}

.book__content-tow ul li {
    list-style: none;
    margin-left: 4%;
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    white-space: nowrap;
}


/* Book end */


/* portfolio end */


/* projects start */

.Projects {
    width: 70%;
    margin: auto;
}

.projects__card-icons {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

.folder__icon {
    width: 40px;
    height: 40px;
    color: var(--green);
}

.github__icon {
    width: 22px;
    height: 22px;
    margin-right: -10px;
    color: rgb(168, 178, 209);
    cursor: pointer;
}

.github__icon:hover {
    color: var(--green);
}

.projects__title__cont {
    text-align: center;
}

.projects__title {
    color: rgb(204, 214, 246);
    font-size: 30px;
    font-weight: 600;
}

.projects__title__link {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    cursor: pointer;
    color: rgb(100, 255, 218);
    text-align: center;
    margin: 0px auto;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
    font-size: 14px;
    margin-top: 2%;
}

.projects__row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px;
    position: relative;
    margin-top: 6%;
}

.projects__card {
    box-shadow: rgb(2 12 27 / 70%) 0px 10px 30px -15px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 2rem 1.75rem;
    height: 100%;
    border-radius: 3px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    background-color: rgb(23, 42, 69);
    cursor: default;
}

.projects__card:hover {
    transform: translateY(-10px);
}

.projects__card h4 {
    margin: 0px 0px 20px;
    font-size: 20px;
    color: rgb(204, 214, 246);
}

.projects__card p {
    font-size: 17px;
    color: rgb(168, 178, 209);
    margin: 0px 0px 20px;
    line-height: 25px;
}

.projects__card-footer {
    display: flex;
    align-items: flex-end;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0px;
    margin: 12% 0px 0px;
    list-style: none;
}

.projects__card-footer li {
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
    font-size: 12px;
    color: rgb(100, 255, 218);
    line-height: 1.75;
    margin-right: 15px;
}


/* projects end */


/* contact start */

.contact {
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 15%;
}

.contact__link {
    display: block;
    color: rgb(100, 255, 218);
    font-size: 16px;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
    font-weight: normal;
    margin-bottom: 20px;
    -webkit-box-pack: center;
    justify-content: center;
}

.contact__title {
    margin: 0px 0px 20px;
    font-size: 50px;
    color: rgb(204, 214, 246);
}

.contact__text {
    margin: 0px 0px 15px;
    color: rgb(136, 146, 176);
    line-height: 1.3;
    font-family: Calibre, 'San Francisco', 'SF Pro Text', -apple-system, system-ui, BlinkMacSystemFont, Roboto, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    font-size: 19px;
}

.contact__btn {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    cursor: pointer;
    color: rgb(100, 255, 218);
    background-color: transparent;
    border: 1px solid rgb(100, 255, 218);
    border-radius: 3px;
    padding: 1.25rem 1.75rem;
    font-size: 14px;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
    line-height: 1;
    margin-top: 50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.contact__btn:hover {
    background-color: var(--green-tint);
}


/* contact end */


/* footer start */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.footer__txt {
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    transition: var(--transition);
}

.footer__txt span {
    margin-top: 5%;
}

.footer__txt:hover {
    color: var(--green);
}

.left__icon {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 3%;
}

.left__icon li {
    list-style: none;
}

.left__icon li svg {
    color: var(--green);
    margin: 10px 0;
    font-size: 27px;
    cursor: pointer;
    transition: var(--transition);
}

.left__icon li svg:hover {
    transform: translateY(-5px);
}

.line {
    width: 1px;
    height: 100px;
    background-color: var(--light-slate);
    border-radius: 29px;
    margin: auto;
}

.side__email {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    position: fixed;
    bottom: 0;
    right: -3%;
}

.side__email .email p {
    font-size: 25px;
    transform: rotateZ(90deg);
    margin-bottom: 60%;
    color: var(--green);
    cursor: pointer;
}


/* footer end */


/* Media query start */

@media only screen and (max-width: 1300px) {
    .navbar {
        padding: 18px 0;
    }
    .navbar__logo {
        width: 48px;
    }
    .navbar ol li {
        margin-right: 45px;
        font-size: 15.5px;
    }
    .navbar__resume-btn {
        padding: 10px 16px;
    }
    /* container */
    .container {
        padding: 0 170px;
        position: absolute;
        top: 154px;
        padding-bottom: 20px;
    }
    /* title */
    .title {
        font-size: clamp(38px, 8vw, 68px);
        margin-top: 18px;
    }
    /* title text */
    .title__text {
        max-width: 535px;
        color: var(--slate);
        font-size: var(--fz-lg);
        margin-top: 23px;
    }
    /* title btn */
    .title__btn {
        margin-top: 47px;
        padding: 14px 23px;
        font-size: var(--fz-sm);
        line-height: 1;
    }
    /* cart content */
    .card__content {
        width: 58%;
    }
    /* about card */
    .row .card ol li {
        font-size: 30px;
    }
    .row .card__content p {
        font-size: 17px;
        line-height: 1.2;
        margin-bottom: 3%;
    }
    .card__content ul li {
        margin-bottom: 3%;
        font-size: var(--fz-sm);
    }
    .card__line {
        width: 60%;
        margin-left: 2%;
    }
    /* worked */
    .worked .exp__row-lists li {
        font-size: var(--fz-md);
        padding: 19px;
        border-left: 2px solid #64ffda40;
    }
    .exp__title h3 {
        color: var(--lightest-slate);
        font-size: var(--fz-xl);
        font-weight: 500;
        margin-bottom: 5px;
        line-height: 1.3;
    }
    /* portfolio */
    .halcyon__row {
        margin-bottom: 8%;
    }
    .book__img {
        width: 49%;
        height: 320px;
        box-shadow: 0 10px 30px -15px var(--navy-shadow);
    }
    .spotify__row {
        margin-bottom: 8%;
    }
    .book__content-tow {
        width: 51%;
        transform: translateX(-15%);
    }
    .book__row .content__text {
        padding: 23px 38px 23px 23px;
        box-shadow: 0 10px px 30px -15px var(--navy-shadow);
        background-color: var(--light-navy);
        border-radius: var(--border-radius);
        margin: 4% 0;
        color: var(--light-slate);
        font-size: var(--fz-sm);
        text-align: justify;
    }
    /* projects */
    .Projects {
        width: 85%;
    }
    .projects__card {
        padding: 1.5rem 1.2rem;
        height: 100%;
    }
    .projects__card-icons {
        margin-bottom: 25px;
        width: 100%;
    }
    .folder__icon {
        width: 37px;
        height: 35px;
    }
    .projects__card h4 {
        margin: 0px 0px 18px;
        font-size: 19px;
    }
    .projects__card p {
        font-size: 16px;
        margin: 0px 0px 15px;
        line-height: 25px;
    }
    /* contact */
    .contact {
        width: 52%;
        margin-top: 14%;
    }
    .contact__title {
        margin: 0px 0px 19px;
        font-size: 48px;
    }
    .contact__text {
        margin: 0px 0px 15px;
        line-height: 1.3;
        font-size: 17px;
    }
    .contact__btn {
        padding: 1.05rem 1.65rem;
        font-size: 13px;
        line-height: 1;
        margin-top: 45px;
    }
    /* footer */
    .footer {
        margin-top: 8%;
    }
}


/* Media query end */